<template>
    <div>
        <div class="container-fluid">
            <loading :active.sync="isLoading"></loading>
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <vue-dropzone
                                    ref="myVueDropzone"
                                    id="dropzone"
                                    :options="dropzoneOptions"
                                    @vdropzone-success="successEvent"
                                    @vdropzone-error="errorEvent">
                            </vue-dropzone>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container errors" v-if="success.length">
            <div class="col-md-8 col-md-offset-2">
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" aria-label="Close" @click="clearSuccess">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <ul>
                        <li v-for="item in success">{{ item }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container errors" v-if="errors.length">
            <div class="col-md-8 col-md-offset-2">
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" aria-label="Close" @click="clearErrors">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="alert-heading">Erros encontrados:</h4>
                    <ul>
                        <li v-for="error in errors">{{ error }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.min.css';

    import vue2Dropzone from 'vue2-dropzone'
    import 'vue2-dropzone/dist/vue2Dropzone.min.css'

    export default {
        data() {
            return {
                isLoading: true,
                errors: [],
                success: [],
                dropzoneOptions: {
                    url: '/api/upload',
                    maxFilesize: 1,
                    acceptedFiles: '.xml'
                }
            }
        },
        created: function () {
            this.isLoading = false;
        },
        components: {
            'loading': Loading,
            vueDropzone: vue2Dropzone
        },
        methods: {
            clearErrors(){
                this.errors = [];
            },
            clearSuccess(){
                this.success = [];
            },
            successEvent(file, response) {
                this.success.push(response.message);
            },
            errorEvent(file, message, xhr) {
                if(message.message)
                    this.errors.push(message.message);
                else
                    this.errors.push(message);
            }
        }
    }
</script>
