// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
// Icons
@import "~font-awesome/css/font-awesome.min.css";

.logo {
  width: 180px;
  display: inline;
}

.title {
  margin: 30px 0;
}

.errors {
  padding-top: 30px !important;
}

.dropzone .dz-preview {
  margin: 9px !important;
}

.vue-dropzone .dz-preview .dz-image img:not([src]) {
  height: 100px !important;
}

.vue-dropzone .dz-preview {
  .dz-success-mark, .dz-error-mark {
    top: 22% !important;
  }
}

.vue-dropzone .dz-preview.dz-error .dz-details {
  background-color: rgba(239, 80, 80, 0.97) !important;
}
