<template>
    <div class="main">
        <div class="container-fluid title">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img class="img-responsive logo" src="../logo.png">
                        <h3>File Uploader - PHP Challenge</h3>
                    </div>
                </div>
            </div>
        </div>
        <router-view></router-view>
    </div>
</template>